@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*,  *::before,  *::after {
    box-sizing: content-box;
    max-width:100%;
    overflow-x: scroll;
}
.form-container input, .form-container button {
    font-family: 'Noto Sans', sans-serif;
    font-size: medium;
}

.form-container {
    border: 1px solid red;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.6); /* semi-transparent white */
    backdrop-filter: blur(15px); /* this adds the blur effect */
    border: 1px solid rgba(255, 255, 255, 0.3); /* optional: adds a faint border for better definition */
}

body {
    margin: 0; /* Reset default margin */
    padding: 0;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    background: url("imgs/homebackground.svg") lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
    /* mix-blend-mode, backdrop-filter here will not affect elements on top */
}

.navbar {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold; /* 700 is also commonly used for bold */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.5); /* Translucent navbar */
    color: white;
}

.menu a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

form h2 {
    color: #333;
    text-align: center;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.logo {
    font-family: 'Noto Sans', sans-serif;
    font-size: x-large;
    font-weight: bold; /* 700 is also commonly used for bold */
}

form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: #d9534f;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #c9302c;
}

.signin-link {
    text-align: center;
}

.signin-link a {
    color: #d9534f;
    text-decoration: none;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }
}