@font-face{
    font-family: 'Noto Sans';
    src:url("fonts/NotoSans-VariableFont_wdth,wght.ttf");
}
@font-face{
    font-family: 'Yuji Syuku';
    src:url("fonts/YujiSyuku-Regular.ttf");
}


*,  *::before,  *::after {
    box-sizing: content-box;
    max-width:100%;
    overflow-x: scroll;
}
.form-container input, .form-container button {
    font-family: 'Noto Sans', sans-serif;
    font-size: medium;
}

.form-container {
    border: 1px solid red;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.6); /* semi-transparent white */
    backdrop-filter: blur(15px); /* this adds the blur effect */
    border: 1px solid rgba(255, 255, 255, 0.3); /* optional: adds a faint border for better definition */
}

body {
    margin: 0; /* Reset default margin */
    padding: 0;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    background: url("imgs/homebackground.svg") lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
    /* mix-blend-mode, backdrop-filter here will not affect elements on top */
}

.navbar {
    font-family: "Yuji Syuku";
    font-weight: bold; /* 700 is also commonly used for bold */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.5); /* Translucent navbar */
    color: white;
}

.menu a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

form h2 {
    color: #333;
    text-align: center;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f9feff;
    border-radius: 4px;
    font-weight: 550;
}
form input:hover {
    background-color:rgb(243, 243, 243);
}

.logo {
    font-family: "Yuji Syuku";
    font-size: x-large;
    font-weight: bolder; /* 700 is also commonly used for bold */
}

form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: #a00500;
    font-family: "Yuji Syuku";
    font-weight: bold;
    color: white;
    cursor: pointer;
}

form button:hover {
    font-family: "Yuji Syuku";
    font-weight: bold;
    background-color: #c20600;
}

.signin-link {
    font-family: 'Noto Sans', sans-serif;
    color: #333;
    font-weight: 550;
    text-align: center;
}

.signin-link a {
    font-family: 'Noto Sans', sans-serif;
    color: #a00500;
    font-weight: bold;
    text-decoration: none;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }
}