@font-face{
    font-family: 'Noto Sans';
    src:url("fonts/NotoSans-VariableFont_wdth,wght.ttf");
}
@font-face{
    font-family: 'Yuji Syuku';
    src:url("fonts/YujiSyuku-Regular.ttf");
}


body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  
    font-family: 'Noto Sans', sans-serif;
    color: #f0f0f0;
    background-color: #f0f0f0;
}

.chat-container {
    min-height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    height: 100vh; /* 100% of the viewport height */
    display: flex;
    flex-direction: column;
}

.chat-header {
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(197, 178, 173); /* Semi-transparent background */
    color: rgb(82, 0, 0);
    padding: 5px;
    display: flex;
    align-items: center;
    z-index: 2; /* Ensure it's above the blurred background */
    position: relative; /* Required for z-index to take effect */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: Adds a subtle shadow for depth */
}

.back-button {
    cursor: pointer;
    margin-right: 10px;
    font-size: 45px; 
    padding: 5px 10px; /* Add padding to increase the button's overall size */
    display: inline-block; /* Ensures padding is applied correctly */
    border-radius: 5px; /* Optional: adds rounded corners to the button */
    color: rgb(82, 0, 0);
}

.back-button:hover {
    color: rgb(161, 0, 0);
}

.chat-messages {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Takes up all available space */
    overflow-y: auto;
    padding: 10px;
    align-items: flex-end;
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust if necessary to cover the area you want */
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3)), url('imgs/homepage3.svg') no-repeat center center fixed;
    background-size: cover; /* Ensures background image covers the entire element */
    z-index: 1;
}

.chat-messages::before {
    content: '';
    position: fixed; /* Fixed position to cover the entire viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Behind the content */
    /* Use linear-gradient for translucent cover + background image */
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.4)), url('imgs/homepage3.svg') no-repeat center center fixed;
    background-size: 200%;
    background-position: center;
    background-attachment: scroll; /* Background scrolls with the page */
    filter: blur(10px); /* Apply the blur filter */
    display: block;
}


.chat-form {
    padding: 10px;
    background-color: rgba(221, 221, 221, 0.9); /* Semi-transparent background */
    display: flex;
    z-index: 2; /* Ensure it's above the blurred background */
    position: relative; /* Required for z-index to take effect */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2); /* Optional: Adds a subtle shadow for depth */

}

.chat-form input {
    font-family: 'Noto Sans', sans-serif;
    font-weight: lighter;
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.chat-form input:hover {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    color:#515151;
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-form button {
    font-family: 'Noto Sans', sans-serif;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:rgb(92, 0, 0);
    color: white;
    cursor: pointer;
}

.chat-form button:hover {
    background-color:rgb(129, 0, 0);
}

.message-content {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 0px 5px;
    max-width: 80%;
}

.message-bubble {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    background-color: #f1f0f0;
    border-radius: 18px;
    padding: 10px 20px;
    max-width: 80%;
    /* display: inline-block;
    margin-bottom: 10px; */
}

.message-text {
    background-color: #684d4b;
    border-radius: 18px;
    padding: 10px 20px;
    display: inline-block;
    max-width: 100%;
}

.sent-message {
    background-color: #684d4b;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 10px;
    align-items: flex-end;
}

.sent-message .message-text {
    align-self: flex-end;

}

.sender-name {
    font-weight: bold;
    margin-bottom: 4px; /* Space between name and message */
}

.received-message {
    background-color: #a0050000; /* Different background for other people's messages */
    margin-right: auto; /* Align to the left */
}

.received-message p {
    color: rgb(82, 0, 0);
    font-family: 'Noto Sans', sans-serif;
    font-weight: lighter;
    font-size: large;
    margin-top: 0;
    margin-left: 5px;
    align-items: flex-start;
}

.profile-pic {
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
    border-radius: 50%; /* Make the image round */
    object-fit: cover; /* Ensure the image covers the area */
    margin-right: 10px; /* Space between picture and message */
}
