@font-face{
    font-family: 'Noto Sans';
    src:url("fonts/NotoSans-VariableFont_wdth,wght.ttf");
}
@font-face{
    font-family: 'Yuji Syuku';
    src:url("fonts/YujiSyuku-Regular.ttf");
}

*,  *::before,  *::after {
    box-sizing: content-box;
    max-width:100%;
    overflow-x: scroll;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #3E342D;
    font-family: "Noto Sans";
}
  
.background {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 30%, #3E342D 100%), url('imgs/homebackground.svg');
    background-size: cover;
    background-position: center;
}
  
main {
    position: relative;
    z-index: 1;
    padding: 1rem;
}

.home-main-section {
    align-items: stretch;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}

.header {
    font-size: 6rem;
    color: white;
}

.main-logo {
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 6;
    -webkit-text-stroke-color: #FFF;
    font-family: "Yuji Syuku";
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.signup-button a {
    color: #FFF;
    text-decoration: none;
    text-align: center;
    -webkit-text-stroke-width: 4;
    -webkit-text-stroke-color: #FFF;
    font-family: "Noto Sans";
    font-size: 2rem;
    font-weight: bold;
}

.signup-button {
    background-color: #CA3636;
    border: none;
    padding: 1.5rem 1rem;
    text-align: center;
    border-radius: .7rem;
    align-items: center;
    width: 25rem;
    position: relative;
    top: -15vh;
}

.logo {
    font-family: 'Noto Sans', sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
}

.navbar {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold; /* 700 is also commonly used for bold */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.5); /* Translucent navbar */
    color: white;
    z-index: 1000;
}

.menu a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    color: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.spacer {
    height: 5rem;
}

.container {
    padding-top: 1rem;
    width: 90%;
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 3rem;
}

.container img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}

.gallery {
    display: flex;
}
  
.image {
    flex: 1; 
    margin: 0 0.5rem;
}
  
.image img {
    width: 100%;
    height: auto;
}
  