@font-face{
    font-family: 'Noto Sans';
    src:url("fonts/NotoSans-VariableFont_wdth,wght.ttf");
}
@font-face{
    font-family: 'Yuji Syuku';
    src:url("fonts/YujiSyuku-Regular.ttf");
}

*,  *::before,  *::after {
    box-sizing: content-box;
    max-width:100%;
    overflow-x: scroll;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    background-color: #3A312B;
    background-position: center;
    background-size: cover;
}

.logo {
    font-family: 'Noto Sans', sans-serif;
    font-size: x-large;
    font-weight: bold;
}

header {
    background: #907A6B;
    mix-blend-mode: plus-darker;
    color: inherit;
    margin: 0;
    padding: 0;
    width: 100%;
}

.brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
}

.navbar {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold; /* 700 is also commonly used for bold */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.5); /* Translucent navbar */
    color: white;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 4;
    -webkit-text-stroke-color: #FFFEFE;
    font-family: "Noto Sans";
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    position: relative;
    top: -15vh;
}
  
.location {
    flex-basis: calc(33.33% - 1rem); /* Adjust as needed */
    margin-bottom: 20px;
}
  
.location img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
    width: 30rem;
    height: auto;
}

.menu a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    color: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}