@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,  *::before,  *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #3E342D;
    font-family: Noto Sans, sans-serif;
    font-size: 1.2rem;
}

.band-logo-name {
    margin-left: 1rem;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}